.container {
    display: flex;
    flex-direction: column;
    margin: 25px;
    border-radius: 32px;
    // padding: 50px 98px;
    padding: 2rem 4rem;
    height: auto;
    background-color: #4ec3ff;
    justify-content: center;
    align-items: center;
}

.number {
    align-self: self-start;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0px;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 0px;
        color: white;
        margin: 0;
    }

    &__discription {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0px;
        color: white;
        margin: 0;
    }
}

.img {
    width: 130px;
    height: auto;
    max-height: 130px;
    margin: 0;
}
