.container {
    display: flex;
    flex-direction: column;
    width: 14rem;
    height: 20rem;
    border: none;
    overflow: hidden;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    transition: all 0.3s ease;
    position: relative;

    // &:hover {
    //     transform: translateY(-3px);
    // }
}

.rowWrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.profileImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all ease 0.3s;
}

.container:hover .profileImage {
    transform: scale(1.1);
}

.profileInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 5.5rem;
    justify-content: center;
    border-radius: 30px;
    gap: 0.1rem;
    position: absolute;
    bottom: 0%;
}

.container::after {
    height: 5.5rem;
    align-self: flex-end;
    content: '';
    position: absolute;
    inset: 0;
    z-index: 10;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 30px;
    mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 5) 0%, rgba(255, 255, 255, 5) 100%);
    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 5) 0%,
        rgba(255, 255, 255, 5) 100%
    );
}

.name {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 41px;
    letter-spacing: 0.37px;
    margin: 0;
    color: #ffffff;
    padding-left: 1rem;
    z-index: 11;
}

.party {
    margin: 0;
    font-size: 0.8rem;
    line-height: 32px;
    letter-spacing: 0.37px;
    margin: 0;
    align-self: flex-end;
    color: #ffffff;
    z-index: 11;
}

.district {
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: -0.24px;
    margin: 0;
    color: #ebebf5cc;
    padding-left: 1rem;
    z-index: 11;
}
