.container {
    display: flex;
    flex-direction: row;
    max-width: 340px;
    max-height: 171px;
    gap: 1rem;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    padding: 1rem;
    cursor: pointer;
}

.profileImage {
    width: 120px;
    height: 140px;
    border-radius: 8px;
    object-fit: cover;
    display: block;
    max-width: 100%;
    max-height: 100%;
}
