.container {
    display: flex;
    flex-direction: row;
    height: 11rem;
    gap: 1rem;
    border: 1px solid #e4e4e4;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-3px);
    }
}

.profileImage {
    width: 8.25rem;
    height: 11rem;
    object-fit: cover;
    display: block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px 0px 0px 8px;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.party {
    margin: 0;
    font-size: 16px;
    line-height: 24.93px;
    letter-spacing: 0.57px;
    color: #696969;
}

.name {
    font-weight: 700;
    margin: 0;
    font-size: 28px;
    line-height: 24.93px;
    letter-spacing: 0.57px;
    color: #121212;
}
.party {
}
