.pageWrapper {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 4rem;
    gap: 2rem;
}

.wrapper {
    @extend .pageWrapper;
    padding: 2rem;
    border: 1px solid #e4e4e4;
    border-radius: 14px;

    &__info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__score {
        @extend .wrapper;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        justify-content: center;
    }
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.columnWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sectionTitle {
    align-self: flex-start;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.78px;
    margin: 0;
    color: #8e8e8e;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;
    gap: 3rem;
    align-items: center;
    border: 1px solid #e6e6e6;
    border-radius: 16px;
    padding: 2rem 3rem;

    &__profileImage {
        width: 205px;
        height: 278px;
        border-radius: 8px;
        object-fit: cover;
        display: block;
    }

    &__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1rem;
    }
}

.label {
    color: #737373;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 13.63px;
    line-height: 21.23px;
    letter-spacing: 0.48px;
}

.value {
    color: #000000;
    font-weight: 600;
    font-size: 17.04px;
    line-height: 21.23px;
    letter-spacing: 0.48px;

    &__name {
        @extend .value;
        font-size: 29px;
    }
    &__engChName {
        @extend .value;
        font-size: 20;
        margin-bottom: 1rem;
    }
}

.snsButtonRail {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.snsButton {
    border: none;
    background-color: transparent;
    background-size: cover;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

.scoreBox {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #f8f8f8;
    align-items: center;
    gap: 0.6rem;
    padding: 1rem 3rem;

    dt {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.78px;
        text-align: center;
        color: #717171;
        margin-left: 0;
        margin: 0;
    }
    dd {
        font-weight: 500;
        font-size: 35px;
        line-height: 52px;
        letter-spacing: 0.78px;

        margin-left: 0;
        margin: 0;
    }
}
