.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    align-items: center;
    border: 1px solid #e6e6e6;
    padding: 2rem 1rem;

    &__profileImage {
        width: 205px;
        height: 278px;
        border-radius: 8px;
        object-fit: cover;
        display: block;
        max-width: 100%;
        max-height: 100%;
    }

    &__info {
        display: grid;
        grid-template-columns: repeat(2, minmax(340px, 1fr));
        row-gap: 1rem;
        column-gap: 10px;
    }
}

.label {
    color: #737373;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 13.63px;
    line-height: 21.23px;
    letter-spacing: 0.48px;
    margin: 0;
}

.value {
    color: #000000;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 17.04px;
    line-height: 21.23px;
    letter-spacing: 0.48px;
    margin: 0;
}
