.pageWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 4rem;
}
.header {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.78px;
    margin: 0;
}
.sectionTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: Static/Display Medium/Line Height;
    letter-spacing: 0.78px;
    color: #8e8e8e;
    margin: 0;
}
.currentMember {
    margin-bottom: 5rem;
}
.previousMembers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
