.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}
.title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.78px;
    color: #121212;
    margin: 0;
}
.tagGrid {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
}

.tag {
    border: none;
    border-radius: 24px;
    padding: 0.35rem 0.7rem;
    font-size: 16px;
    background-color: #e8f2ff;
    color: #0088ff;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;

    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        color: #e8f2ff;
        background-color: #0088ff;
    }
}
