@use '../../style//Header.scss';
.pageWrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 0.5rem 4rem;
    gap: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
}
