.pageWrapper {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 4rem;
    gap: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.mapWrapper {
    width: 100%;
    height: auto;
}

.title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.78px;
    color: #121212;
}
