.buttonRail {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.button {
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 8px;
    background-color: #f0f0f0;
    cursor: pointer;
    padding: 0.5rem 1rem;

    // font
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.16px;
    color: #555555;

    &:hover {
        transform: translateY(-1px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }

    svg {
        vertical-align: middle;
        width: 1.1em;
        height: 1.1em;
        align-items: center;
    }
}

.isActive {
    background-color: #e8f2ff;
    color: #2372eb;
    transition: background-color 0.3s, color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;
}
