@mixin placeholderStyle {
    color: #89ceff;
    font-size: 14px;
    opacity: 1;
    font-weight: 600;
    font-size: 28px;
    line-height: 31.81px;
    letter-spacing: -1%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2ba6ff;
    margin-left: 25px;
    margin-right: 25px;
    // padding: 60px 98px 20px 98px;
    padding: 3rem 4rem;
    border-radius: 32px;
    height: auto;
    max-height: 300px;
}

.searchBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    &__inputArea {
        display: flex;
        flex-direction: row;
        height: auto;
        height: 53px;
        width: 100%;
        border: none;
        border-bottom: 2px solid #89ceff;
        background-color: transparent;

        &:focus {
            outline: none;
            box-shadow: none;
            @include placeholderStyle;
            &::placeholder {
                color: transparent;
            }
        }
    }

    &__inputArea::placeholder {
        @include placeholderStyle;
    }

    &__searchButton {
        border: none;
        border-bottom: 2px solid #89ceff;
        background-color: transparent;
        color: white;
    }

    &__searchButtonIcon {
        cursor: pointer;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        &:hover {
            transform: scale(1.3);
        }
    }
}

.tagRail {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    padding: 1rem;
    gap: 1rem;

    max-width: 100%;
    overflow: hidden;

    @media (max-width: 1300px) {
        & > .searchTag:nth-child(n + 6) {
            display: none;
        }
    }
    @media (max-width: 900px) {
        & > .searchTag:nth-child(n + 5) {
            display: none;
        }
    }
    @media (max-width: 600px) {
        & > .searchTag:nth-child(n + 4) {
            display: none;
        }
    }
}

.searchTag {
    background-color: #89ceff;
    color: white;
    height: fit-content;
    padding: 8px;
    border-radius: 19px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;

    // tag font
    font-size: 1rem;
    font-weight: 600;
    // 이 부분은 수정 가능
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    //

    &:hover {
        background-color: #ffffff;
        color: #2ba6ff;
        transform: translateY(-3px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }
}
