.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 4rem;
    gap: 2rem;
}

.header {
    display: flex;
    flex-direction: row;
}

.title {
    font-weight: 600;
    font-size: 32px;
    line-height: Static/Display Medium/Line Height;
    letter-spacing: 0.78px;
    color: #121212;
}

.section {
    display: flex;
    flex-direction: column;

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: Static/Display Medium/Line Height;
        letter-spacing: 0.78px;
        color: #8e8e8e;
    }

    &__wrapper {
        border: 1px solid #e4e4e4;
        border-radius: 16px;
        padding: 2rem 2.5rem;
    }

    &:first-child {
        border: 1px solid #e4e4e4;
        border-radius: 16px;
        padding: 2rem 2.5rem;
    }
}
.detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__item {
        display: flex;
        flex-direction: column;

        dt {
            font-weight: 600;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.78px;
            color: #8e8e8e;
        }

        dd {
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 0.78px;
            margin-left: 0;
            color: #2d2d2d;
        }
    }
}
