.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header {
    font-weight: 600;
    font-size: 24px;
    line-height: 23px;
    letter-spacing: 0.78px;
    color: #121212;
    border-bottom: 1px solid #afafaf;
    padding-bottom: 1rem;
    margin: 0;
    margin-bottom: 1rem;
}

.scheduleCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;

    &__header {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }

    &__tag {
        border: none;
        border-radius: 6px;
        padding: 0.35rem 0.7rem;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.5px;
        color: #696969;
        background-color: #f2f2f2;

        margin: 0;

        cursor: pointer;
        transition: background-color 0.3s, color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;
    }

    &__name {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.78px;
        color: #222424;
        margin: 0;
    }

    &__info {
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.78px;
        color: #737373;
        margin: 0;
    }

    &:not(:last-child) {
        border-bottom: 1px solid #e0e0e0;
    }
}
