.container {
    border: none;
    border-radius: 24px;
    padding: 0.35rem 0.7rem;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #8e8e8e;
    // color: white;
    // background-color: #c6c6c6;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;

    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        color: white;
        background-color: #c6c6c6;
        // [확인]: 색상 반전 둘 중 뭐가 좋은지?
        // background-color: #f0f0f0;
        // color: #8e8e8e;
    }
}
