@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
    font-family: Pretendard, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    width: 100%;
    height: 100%;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #ffffff;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
