@import '../../style/Font.scss';
.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 4rem;
}

.header {
    margin-bottom: 1rem;
}

.resultHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    &__count {
        font-weight: 600;
        font-size: 20px;
        letter-spacing: -0.16px;
        color: #2d2d2d;
    }

    &__filterButtonRail {
        display: flex;
        flex-direction: row;
    }
}

.filterContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #e6e6e6;
}

.billCardContainer {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    gap: 1rem;
    justify-content: space-between;

    @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
