@use '../../style//Header.scss';
.wrapper {
    display: flex;
    flex-direction: column;
    // border: 1px solid #e6e6e6;
    // box-shadow: 0 0.84px 20.99px 0 rgba(69, 42, 124, 0.1);
    border-radius: 10px;
    padding: 0.5rem 4rem;
    gap: 1rem;
}

.sectorTitle {
    width: fit-content;
    color: #121212;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.78px;
    border-bottom: 3px solid #e9e9e9;
}

.committeeButton {
    width: fit-content;
    height: 41px;
    opacity: 1;
    font-size: 14px;
    border-radius: 6.27px;
    padding: 0.5rem 3.2rem;
    color: #7e7e7e;
    border: none;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
        transform: translateY(-3px);
        color: white;
        background-color: #7e7e7e;
    }
}

.buttonRail {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
