.topicImageContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;

    &__image {
        width: 100%;
        height: 230px;
        background-position: center 35%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__title {
        width: 100%;
        color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-weight: 700;
        font-style: Bold;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0%;
    }
}

.dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    transform: translateX(-50%);
}

.dot {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;

    &__active {
        background: rgba(255, 255, 255, 0.9);
        transform: scale(1.2);
    }
}

.contentsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0rem 1rem;

    &__section {
        width: 45%;
    }

    &__title {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 24px;
        line-height: 22px;
        letter-spacing: 0.5px;
    }

    &__semiTitle {
        color: #000000; // 이거 색 뭐지?
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.5px;
    }
}
