.wrapper {
    display: flex;
    flex-direction: column;
    // width: 100%;
    gap: 0.2rem;
}

.bottomSection {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 50% 50%;
}
