.siteContainer {
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    padding-bottom: 0.5rem;
}
