.siteContainer {
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
}

.landingBackground {
    // background-color: #f0f3f7;
}
