@use '../../style/Header.scss';
@use '../MyDistrictPage/ExampleDistricts.module.scss';
.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 4rem;
}

.memberCardConatiner {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.6rem;

    @media (max-width: 1230px) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 1038px) {
        grid-template-columns: repeat(3, 1fr);
    }
}
.resultHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    &__count {
        font-weight: 600;
        font-size: 20px;
        letter-spacing: -0.16px;
        color: #2d2d2d;
    }

    &__filterButtonRail {
        display: flex;
        flex-direction: row;
    }
}

.tagGrid {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
}

.tag {
    border: none;
    border-radius: 8px;
    padding: 0.35rem 0.7rem;
    background-color: #e8f2ff;
    color: #0088ff;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        color: #e8f2ff;
        background-color: #0088ff;
    }
}

.active {
    background-color: #0088ff;
    color: #e8f2ff;

    &:hover {
        background-color: #0088ff;
        color: #e8f2ff;
    }
}
