@import '../../style//Font.scss';
.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 4rem;
}

.header {
    margin-bottom: 1rem;
}

.memberCardConatiner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    gap: 1rem;
}
