@use '../../style//Header.scss';
.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 4rem;
}

.memberCardConatiner {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.6rem;

    @media (max-width: 1230px) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 1038px) {
        grid-template-columns: repeat(3, 1fr);
    }
}
.resultHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    &__count {
        font-weight: 600;
        font-size: 20px;
        letter-spacing: -0.16px;
        color: #2d2d2d;
    }

    &__filterButtonRail {
        display: flex;
        flex-direction: row;
    }
}
