.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}

.memberCardConatiner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
    gap: 1rem;
}
