.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 4rem;
}

.header {
    margin-bottom: 1rem;
}

.memberCardConatiner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}
