@use '../../style/Header.scss';
.pageWrapper {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 4rem;
    gap: 2rem;
}

.buttonGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(7rem, auto));
    grid-gap: 1rem;
    border-radius: 16px;
}

.button {
    border: none;
    box-shadow: 0 0.84px 20.99px 0 rgba(69, 42, 124, 0.1);
    // 무소속 스타일
    &:not(:last-child) {
        color: transparent;
    }

    border-radius: 6.27px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0;
    padding: 1.5rem;

    cursor: pointer;
    transition: all ease 0.3s;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &:hover {
        color: #f7f7f7;
        background-color: #7e7e7e;
    }
}
