.pageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 4rem;
    gap: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.buttonGrid {
    display: grid;
    grid-template-columns: 15rem 15rem;
    width: fit-content;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #e6e6e6;
    justify-content: center;
    border-radius: 16px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 231px;
    height: 41px;
    background: #f7f7f7;
    color: #7e7e7e;
    border-radius: 6.27px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0;
    padding: 0;

    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }
}
