.pageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 4rem;
    gap: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.header {
    &__title {
        align-self: flex-start;
        margin: 0;
    }
}

.buttonGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    gap: 0.5rem;
    // padding: 1rem;
    // border: 1px solid #e6e6e6;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 30dvw;
    height: 20dvh;
    color: #7e7e7e;
    // background-color: #f7f7f7;

    &:not(:last-child) {
        color: transparent;
    }
    border-radius: 6.27px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0;
    padding: 1.5rem;

    cursor: pointer;
    transition: all ease 0.3s;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &:hover {
        color: #f7f7f7;
        background-color: #7e7e7e;
    }
}
