@use '../../style/SectionContainer.scss';

.pageWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 4rem;
}

.sub {
    font-size: 13px;
    color: #6b7280;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;

    @media (max-width: 640px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (max-width: 1024px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    &__member {
        @extend .grid;
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 1rem;
    }
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 220px;
    padding: 1.25rem 1rem;
    text-align: center;

    color: #6b7280;

    border-radius: 8px;
    background: #fff;
}
