.pageWrapper {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 4rem;
    gap: 1rem;
}

.wrapper {
    @extend .pageWrapper;
    padding: 2rem;
    border: 1px solid #e4e4e4;
    border-radius: 14px;

    &__grid {
        @extend .wrapper;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 1rem;
        justify-content: center;
    }

    &__chart {
        @extend .wrapper;
        display: flex;
        flex-direction: column;
        height: 500px;
        border-radius: 50%;
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;

    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: Static/Display Medium/Line Height;
        letter-spacing: 0.78px;
        color: #121212;
        margin: 0;
        max-width: 80%;
    }

    &__result {
        padding: 0.5rem 0.9rem;
        border-radius: 6px;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0px;
        color: #555555;
        margin: 0;
        margin-top: 5px;
    }

    &__buttonRail {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}
.divider {
    width: 100%;
    border: none;
    height: 1px;
    margin: 20px 0;
    background-color: #e0e0e0;
}

.detail {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    margin: 0;

    &__item {
        display: flex;
        flex-direction: column;

        dt {
            font-weight: 600;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.78px;
            color: #8e8e8e;
        }

        dd {
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 0.78px;
            margin-left: 0;
            color: #2d2d2d;
        }
    }
}

.resultCard {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #f8f8f8;
    align-items: center;
    gap: 0.6rem;
    padding: 1rem 2.7rem;
    &[data-label='찬성'] dd {
        color: #2372eb;
    }
    &[data-label='반대'] dd {
        color: #ff606d;
    }
    &[data-label='기권'] dd {
        color: #717171;
    }
    &[data-label='불참'] dd {
        color: #facc15;
    }

    dt {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.78px;
        text-align: center;
        color: #717171;
        margin-left: 0;
    }
    dd {
        font-weight: 600;
        font-size: 40px;
        line-height: 52px;
        letter-spacing: 0.78px;

        margin-left: 0;
    }
}
.section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sectionTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: Static/Display Medium/Line Height;
    letter-spacing: 0.78px;
    color: #8e8e8e;
}

.billSummaryText {
    // font
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #555555;
    white-space: wrap;
}

.pass {
    color: #2f7d31;
    background-color: #e7f5e9;
}
.merged {
    color: #2c5282;
    background-color: #e3f0fb;
}

.failed {
    color: #b3261e;
    background-color: #fbeaea;
}
