@use '../style/Font.scss';
.container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    border-radius: 32px;
    padding: 3rem 4rem;
    height: auto;
    background-color: white;
    box-shadow: 0 0.84px 20.99px 0 rgba(69, 42, 124, 0.1);
    gap: 2.5rem;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &__number {
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0px;
        color: #1d1d1d;
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 0px;
        color: #2d2d2d;
    }

    &__discription {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0px;
        color: #555555;
    }
}

.contents {
    display: grid;
    width: 100%;
    grid-template-columns: 45% 45%;
    gap: 3.5rem;

    &__main {
        position: relative;
        display: inline-block;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
