@use '../../style/SectionContainer.scss';

.contents {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: 1.5px solid #e4e4e4;
    height: 500px;
    border-radius: 50%;
}
