@use '../../style/SectionContainer.scss';
@use '../../pages/MyDistrictPage/ExampleDistricts.module.scss';
.contents {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: 1.5px solid #e4e4e4;
    height: 500px;
    border-radius: 50%;
}

.tagGrid {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.tag {
    border: none;
    border-radius: 24px;
    padding: 0.35rem 0.7rem;
    background-color: #e8f2ff;
    color: #0088ff;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        color: #e8f2ff;
        background-color: #0088ff;
    }
}

.active {
    background-color: #0088ff;
    color: #e8f2ff;

    &:hover {
        background-color: #0088ff;
        color: #e8f2ff;
    }
}
