.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #d8d8d8;
    border-radius: 16px;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        transform: translateY(-3px);
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f8f8f8;
    border: none;
    border-radius: 16px;
    padding: 0.5rem 1rem;

    &__title {
        width: 90%;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
        color: #555555;
        margin: 0;
    }

    &__date {
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 0px;
        color: #555555;
        margin: 0;
    }
}

.tagRail {
    display: flex;
    flex-direction: row;
    padding: 0 0.5rem;
    gap: 0.5rem;
}

.wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 0.5rem;
    align-items: end;
    gap: 1rem;
}

.summaryText {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.moreButton {
    border: none;
    background-color: transparent;

    &__icon {
        width: 35px;
        height: 35px;
        color: #555555;
    }
}
