@use '../../style/SectionContainer.scss';

.topicImage {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-position: center 35%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;

    &__caption {
        position: absolute;
        top: 65%;
        left: 0;
        width: 100%;
        padding: 8px 12px;
        color: white;
        box-sizing: border-box;

        font-weight: 700;
        font-size: 1.2rem;
        line-height: 24px;
        letter-spacing: 0%;
        transition: font-size 0.3s ease;
        cursor: pointer;

        .contents__main:hover & {
            font-size: calc(1.2rem * 1.02);
        }

        @media (max-width: 1200px) {
            top: 75%;
            font-size: 1.5rem;
            .contents__main:hover & {
                font-size: calc(1.5rem * 1.02);
            }
        }
    }
    .contents__main:hover & {
        transform: scale(1.02);
    }

    @media (max-width: 1200px) {
        width: 100%;
        background-position: center 100%;
    }
}

.listTopicImage {
    width: 30%;
    aspect-ratio: 16 / 9;
    background-position: center 35%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.contents {
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        @media (max-width: 1200px) {
            display: none;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        transition: all ease 0.3s;
        padding-left: 1rem;

        border-radius: 16px;

        &__title {
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            letter-spacing: 0px;
            color: #2d2d2d;
            margin: 0;
            margin-top: 1rem;
        }

        &__discription {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0px;
            color: #555555;
            margin: 0;
            margin-bottom: 1rem;
        }
        &:hover {
            transform: translateY(-3px);
            background-color: rgba(0, 0, 0, 0.02);
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    @media (max-width: 1200px) {
        display: flex;
        flex-direction: row;
    }
}

// 토픽 법안 이미지 위의 텍스트도 hover시 같이 커져야함
