@import '../../style/SectionContainer.scss';

.topicImage {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-position: center 35%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;

    &__caption {
        position: absolute;
        top: 65%;
        left: 0;
        width: 100%;
        padding: 8px 12px;
        color: white;
        box-sizing: border-box;

        font-weight: 700;
        font-size: 1.5vw;
        line-height: 24px;
        letter-spacing: 0%;
    }

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    }
}

.listTopicImage {
    width: 30%;
    aspect-ratio: 16 / 9;
    background-position: center 35%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    // &:hover {
    //     transform: scale(1.02);
    //     box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    // }
}

.contents {
    &__list {
        gap: 1rem;
    }
    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        transition: all ease 0.3s;
        padding-left: 1rem;

        border-radius: 16px;

        &__title {
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            letter-spacing: 0px;
            color: #2d2d2d;
            margin: 0;
            margin-top: 1rem;
        }

        &__discription {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0px;
            color: #555555;
            margin: 0;
            margin-bottom: 1rem;
        }
        &:hover {
            transform: translateY(-4px);
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
            background-color: rgba(0, 0, 0, 0.02);
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
}
