@mixin svg {
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.chevronButton {
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;

    svg {
        @include svg;
    }

    &:hover {
    }
}

.numberButtonRail {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.numberButton {
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: #2d2d2d;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
        color: #555555;
        background-color: #f0f0f0;
    }
}

.ellipsis {
    @include svg;
    padding-right: 1rem;
}

.chevronDisabled {
    color: #cccccc;
    cursor: not-allowed;
    pointer-events: none;
}
.disabled {
    color: #cccccc;
    background-color: #f5f5f5;
    cursor: not-allowed;
    pointer-events: none;
}

.current {
    color: #555555;
    background-color: #f0f0f0;
}
