.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    padding: 0rem 1rem;

    &__buttonRail {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 50.4px;
    }

    &__button {
        cursor: pointer;
        background-color: transparent;
        text-decoration: none;
        color: black;

        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -2.5%;
        vertical-align: bottom;
    }

    &__searchBar {
        display: flex;
        flex-direction: row;
        width: 348px;
        height: 40px;
        position: relative; // 추가

        &__inputArea {
            border: none;
            flex: 1;
            padding: 1rem;
            background-color: #f6f6fb;
            border-radius: 6.25px;
            padding-right: 2.5rem; // 오른쪽에 아이콘 공간 확보
        }

        &__searchButton {
            border: none;
            background-color: #f6f6fb;
            color: #627b87;
            position: absolute; // 추가
            right: 0.5rem; // 오른쪽 끝에 배치
            top: 50%; // 수직 중앙 정렬
            transform: translateY(-50%);
            padding: 0;
            height: 2rem;
            width: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.logo {
    text-decoration: none;
    color: #14283c;
    text-align: center;
    align-self: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 1.23px;
}

.active {
    color: #0069b4;
}
