.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    padding: 0.5rem 2rem 1rem 2rem;

    &__buttonRail {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 50.4px;
    }

    &__button {
        cursor: pointer;
        background-color: transparent;
        text-decoration: none;
        color: black;

        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -2.5%;
        vertical-align: bottom;
    }
}

.logo {
    text-decoration: none;
    color: #14283c;
    text-align: center;
    align-self: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 1.23px;
}
.logoImage {
    height: 27px;
}

.active {
    color: #0069b4;
}
